
.bg-blur {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 60% !important;
}

#search-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .shrink-down {
        width: 60%;
    }
}