.footer {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F7F5E6;
    width: 100vw !important;
    height: 200px;
    margin-top: 10%;
}